
.section {
    padding-top: 120px;
    padding-bottom: 120px;

    &_face {
        padding-top: 30px;
        padding-bottom: 120px;
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
        background-size: cover;
    }

    &_commits {
        padding-top: 0;
        background-color: #000;
    }
}

.section__title {
    font-size: 68px;
    font-weight: 800;
    line-height: 1;
}

@media (max-width: 1310px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            background-image: url("../media/section/face-768.jpg");
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 30px;
    }
}
