<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">отзывы покупателей</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Виктор, 38 лет</div>
                    <div class="commits__description">Я всегда считал, что простатит — это какая-то болезнь пенсионеров, и меня это не коснется еще пару десятков лет. Но год назад у меня периодически начали появляться боли. Боль колющая, очень странного характера. Я даже не мог понять, в каком конкретно месте... где-то в области заднего прохода. Потом присоединились уже постоянные боли в паху. Тогда я решил отправиться к урологу, диагноз: простатит. В качестве лечения назначали препарат Erogan. Это средство быстро помогло избавиться от боли, плюс ко всему, я заметил, что потенция улучшилась, секс стал гораздо дольше. Пропив весь курс, снова посетил врача, который обрадовал меня новостью о том, что я здоров. В общем, отличное средство, рекомендую!</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Олег, 45 лет</div>
                    <div class="commits__description">Все началось у меня с бессонницы, ноющей боли в тазу. По ночам постоянно бегал в туалет, ходил из-за недосыпа злой и уставший. Также появились боли во время секса. Я сразу понял, что это он — простатит. Поделился проблемой с женой, она изучила кучу информации и наткнулась на препарат Erogan. Заказали в интернете, начал принимать это средство. Боли прошли на вторые сутки! А на третьи — нормализовалось мочеиспускание. Когда закончил принимать Erogan и все симптомы ушли полностью, решил сдать анализы. Все в абсолютной норме.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Юрий, 56 лет</div>
                    <div class="commits__description">Много лет у меня был хронический простатит. С врачом перепробовали множество схем лечения, различных препаратов, но все безрезультатно — рано или поздно простатит возвращался. Я уже думал, что эта болячка не отпустит меня до последних дней. На очереднем приеме у уролога он назначил мне новый для меня препарат — Erogan. Если честно, я уже ни на что не надеялся, так как все лекарства ранее оказывали только временный эффект. Erogan подействовал практически сразу, быстро снял симптомы обострения. Я принимал полноценно весь курс, как было назначено, и продолжал посещать врача. С момента окончания приема Erogan прошло уже полтора года, а болезнь с тех пор не возвращалась.</div>
                </div>
            </div>
        </div>
    </div>
</section>