<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">отзывы покупателей</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Сальвадор, 46 лет</div>
                    <div class="commits__description">Каждую зиму езжу на горнолыжные курорты. В прошлом году, приехав домой, обнаружил такой неприятный симптом, как частые позывы в туалет. Обратился к врачу в частную клинику, тот сказал, что у меня простатит из-за перенесенного переохлаждения. Посоветовал принимать Erogan. Через неделю регулярного приема препарата всё прошло, как ни в чем не бывало. Приятным «побочным» эффектом стала регулярная сексуальная жизнь.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Конрадо, 54</div>
                    <div class="commits__description">Долго страдал хроническим простатитом. Работа выездная, часто командировки.  Не редко накрывало в самые неподходящие моменты: температура, боли внизу живота и жжение в промежности. Проверялся не у одного врача. Пил антибиотики, ходил на массаж простаты. Помогало временно, потом снова накрывало, только с новой силой. Я ничего не мог делать, только лежать.  Знакомый по работе посоветовал Erogan, у него такая же проблема была. Начал пить курс и сразу же почувствовал облегчение. После сдал анализы, подтвердилось выздоровление. Вот так, хронический простатит вылечить можно!</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Диего, 51 год</div>
                    <div class="commits__description">Я отказывался идти к врачу. Мужчины меня поймут. Хоть и мучали сильные боли, частое мочеиспускание, рези… В таком состоянии провел год, пока жена не взяла всё в свои руки. Где-то начиталась отзывов и заказала мне Erogan. Следила, чтобы регулярно принимал. Я сильно удивился, что стало лучше так быстро. На сегодняшний день я полностью здоров, но теперь сам периодически заказываю. Пью его для профилактики. Спасибо жене, что нашла его когда-то.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Рубен, 33 года</div>
                    <div class="commits__description">Я вообще не думал, что в моём возрасте может быть такая болезнь как простатит. Причину до сих пор не знаю. Всё началось с дискомфорта в паховой области, потом затрудненное мочеиспускание… Даже не буду всё описывать, приятного мало. Сначала было стыдно кому-то рассказывать и идти к врачу. Искал информацию в интернете, лечился народными методами, но эффекта ноль. Рассказал близкому другу о своей проблеме, а он, оказывается, тоже сталкивался с этим. Посоветовал заказать Erogan, что я сразу и сделал. Две недели приёма, и я как новенький! Так что, советую без всяких сомнений. Это действенное средство.</div>
                </div>
            </div>
        </div>
    </div>
</section>