<section class="section section_dangers">
    <div class="container">
        <div class="dangers">
            <div class="dangers__info">
                <div class="section__title dangers__title" data-aos="fade-right">В зоне риска — <span>каждый второй</span></div>
                <div class="dangers__description">
                    <p>Простатит – это воспаление предстательной железы, чреватое серьезными последствиями для мужчины. Если болезнь не лечить, острая форма перетекает в хроническую. И тогда неминуемы более серьезные осложнения.</p>
                    <p>Простатит может проявить себя в любом возрасте. В зоне риска находится практически каждый мужчина с самых юных лет.</p>
                    <div class="dangers__list">
                        <div class="dangers__list-title">Провоцирующие факторы развития болезни:</div>
                        <div class="dangers__item" data-aos="fade-right" data-aos-duration="100">Переохлаждение</div>
                        <div class="dangers__item" data-aos="fade-right" data-aos-duration="200">Инфекции в организме (пиелонефрит, кариес, цистит и другие)</div>
                        <div class="dangers__item" data-aos="fade-right" data-aos-duration="300">Сидячая работа и малоподвижный образ жизни</div>
                        <div class="dangers__item" data-aos="fade-right" data-aos-duration="400">Нерегулярная половая жизнь</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>