<section class="section section_effects">
    <div class="container">
        <div class="effects">
            <div class="effects__info">
                <div class="section__title effects__title">Последствия простатита</div>
                <div class="effects__subtitle">Что будет, если не лечить?</div>
                <div class="effects__description">Слабая эрекция – распространенное, но далеко не самое страшное и не единственное последствие запущенной болезни. Чаще всего страдают органы малого таза, репродуктивная система и половая функция.</div>
                <div class="effects__body">
                    <div class="effects__box effects__box_left">
                        <div class="effects__item">Слабая <span>эрекция или</span> ее отсутствие</div>
                        <div class="effects__item">Нарушение мочеиспускания</div>
                        <div class="effects__item">Сложность с достижением оргазма</div>
                        <div class="effects__item">Аденома простаты</div>
                        <div class="effects__item">Рак предстательной железы</div>
                    </div>
                    <div class="effects__media">
                        <img src="../media/effects/human.png" alt="">
                    </div>
                    <div class="effects__box effects__box_right">
                        <div class="effects__item">Везикулит – воспаление семенных пузырьков</div>
                        <div class="effects__item">Абсцесс предстательной железы</div>
                        <div class="effects__item">Бесплодие</div>
                        <div class="effects__item">Кисты в предстательной железе</div>
                        <div class="effects__item">Импотенция</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>