<section class="section section_effects">
    <div class="container">
        <div class="effects">
            <div class="effects__info">
                <div class="section__title effects__title">Последствия простатита</div>
                <div class="effects__subtitle">Что будет, если не лечить?</div>
                <div class="effects__description">Слабая эрекция – распространенное, но далеко не самое страшное и не единственное последствие запущенной болезни. Чаще всего страдают органы малого таза, репродуктивная система и половая функция.</div>
                <div class="effects__body">
                    <div class="effects__box effects__box_left">
                        <div class="effects__item" data-aos="fade-up-right" data-aos-duration="400">Слабая <span>эрекция или</span> ее отсутствие</div>
                        <div class="effects__item" data-aos="fade-up-left" data-aos-duration="400">Нарушение мочеиспускания</div>
                        <div class="effects__item" data-aos="fade-up-right" data-aos-duration="600">Сложность с достижением оргазма</div>
                        <div class="effects__item" data-aos="fade-up-left" data-aos-duration="600">Аденома простаты</div>
                        <div class="effects__item" data-aos="fade-up-right" data-aos-duration="800">Рак предстательной железы</div>
                    </div>
                    <div class="effects__media">
                        <img src="../media/effects/human.png" alt="">
                    </div>
                    <div class="effects__box effects__box_right">
                        <div class="effects__item" data-aos="fade-up-right" data-aos-duration="400">Везикулит – воспаление семенных пузырьков</div>
                        <div class="effects__item" data-aos="fade-up-left" data-aos-duration="400">Абсцесс предстательной железы</div>
                        <div class="effects__item" data-aos="fade-up-right" data-aos-duration="600">Бесплодие</div>
                        <div class="effects__item" data-aos="fade-up-left" data-aos-duration="600">Кисты в предстательной железе</div>
                        <div class="effects__item" data-aos="fade-up-right" data-aos-duration="800">Импотенция</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>