<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo"><img src="../media/face/logo.png" alt=""></div>
            <div class="face__body">
                <div class="face__box face__box_first">
                    <div class="section__title face__title" data-aos="fade-right">Erogan — <mark>легкое решение деликатного вопроса</mark></div>
                    <div class="face__list">
                        <div class="face__item" data-aos="fade-right" data-aos-duration="100">
                            <img src="../media/face/icon-1.png" alt="">
                            Снимает <span>воспаление</span>
                        </div>
                        <div class="face__item" data-aos="fade-right" data-aos-duration="200">
                            <img src="../media/face/icon-2.png" alt="">
                            Нормализует <span>работу</span> мочеполовой <span>системы</span>
                        </div>
                        <div class="face__item" data-aos="fade-right" data-aos-duration="300">
                            <img src="../media/face/icon-3.png" alt="">
                            Предотвращает <span>развитие рака и</span> аденомы простаты
                        </div>
                        <div class="face__item" data-aos="fade-right" data-aos-duration="400">
                            <img src="../media/face/icon-4.png" alt="">
                            Улучшает <span>сексуальную</span> функцию
                        </div>
                    </div>
                    <div class="face__product"><img src="../media/product.png" alt=""></div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title"><span>Заказать Erogan </span> прямо сейчас</div>
                        <div class="form__price">
                            <div class="form__price-old">990 rub</div>
                            <div class="form__price-new">99 rub</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции осталось:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>21</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>48</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">Купить со скидкой</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>