<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="problems__body">
                <div class="section__title problems__title" data-aos="fade-left">Проблемы с мочеиспусканием — <mark>первый сигнал</mark></div>
                <div class="problems__description" data-aos="fade-left" data-aos-duration="100">Вылечить болезнь куда проще, чем избавляться от ее осложнений. Если вы еще не знаете точного диагноза, обратите внимание на первые признаки острого простатита:</div>
                <div class="problems__list">
                    <div class="problems__item" data-aos="fade-right" data-aos-duration="500">Повышение температуры, озноб</div>
                    <div class="problems__item" data-aos="fade-right" data-aos-duration="600">Интоксикация организма</div>
                    <div class="problems__item" data-aos="fade-right" data-aos-duration="700">Сильные боли в паху и в промежности</div>
                    <div class="problems__item" data-aos="fade-right" data-aos-duration="800">Затрудненное мочеиспускание</div>
                    <div class="problems__item" data-aos="fade-right" data-aos-duration="900">Частые, болезненные позывы к мочеиспусканию</div>
                    <div class="problems__item" data-aos="fade-right" data-aos-duration="1000">Ночные позывы в туалет</div>
                </div>
            </div>
        </div>
    </div>
</section>