<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="problems__body">
                <div class="section__title problems__title">Проблемы с мочеиспусканием — <mark>первый сигнал</mark></div>
                <div class="problems__description">Вылечить болезнь куда проще, чем избавляться от ее осложнений. Если вы еще не знаете точного диагноза, обратите внимание на первые признаки острого простатита:</div>
                <div class="problems__list">
                    <div class="problems__item">Повышение температуры, озноб</div>
                    <div class="problems__item">Интоксикация организма</div>
                    <div class="problems__item">Сильные боли в паху и в промежности</div>
                    <div class="problems__item">Затрудненное мочеиспускание</div>
                    <div class="problems__item">Частые, болезненные позывы к мочеиспусканию</div>
                    <div class="problems__item">Ночные позывы в туалет</div>
                </div>
            </div>
        </div>
    </div>
</section>