<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title">Мнение <span>специалиста</span></div>
            <div class="professional__body">
                <div class="professional__description">
                    <p>За годы работы я принял более 10 тысяч пациентов. Большинство из них, к сожалению, приходилось лечить препаратами старого поколения. Это вызывало множество побочных эффектов.</p>
                    <p>Вылеченного от простатита пациента не единожды приходилось передавать специалисту другой направленности – кардиологу, нефрологу и даже хирургу.</p>
                    <p>В последние десятилетие проктология шагнула резко вперед. На рынок вышел препарат, не вызывающий нагрузки на почки и сердечно-сосудистую систему – Erogan.</p>
                    <p>Средство деликатно купирует воспалительный процесс, сводя к нулю риск повторного развития болезни.</p>
                </div>
            </div>
            <div class="professional__footer">
                <div class="professional__name">Донато Перес, <span>Кандидат медицинских наук, Уролог, стаж 17 лет</span></div>
                <div class="professional__id"><img src="../media/professional/id.png" alt=""></div>
            </div>
            <div class="professional__media"><img src="../media/professional/human.png" alt=""></div>
        </div>
    </div>
</section>