<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title">состав <mark>erogan</mark></div>
            <div class="sostav__body">
                <div class="sostav__box sostav__box_left">
                    <div class="sostav__item" data-aos="fade-right" data-aos-duration="800">
                        <div class="sostav__name">Семена Тыквы</div>
                        <div class="sostav__description">снимают воспаление предстательной железы, семенных пузырьков, устраняют застои в мочеполовой системе, создают возможность для лучшего вывода мочи, укрепляют мышцу мочевого пузыря.</div>
                    </div>
                    <div class="sostav__item" data-aos="fade-right" data-aos-duration="1000">
                        <div class="sostav__name">Со Пальметто</div>
                        <div class="sostav__description">уменьшает риск рака простаты, лечит доброкачественную гипертрофию простаты, сохраняет уровень тестостерона, укрепляет органы мочеполовой системы, улучшает сексуальную функцию.</div>
                    </div>
                    <div class="sostav__item" data-aos="fade-right" data-aos-duration="1200">
                        <div class="sostav__name">Витамин Е</div>
                        <div class="sostav__description">увеличивает выработку тестостерона; улучшает качество спермы, повышает активность сперматозоидов, усиливает фертильность; регуляция гормонального баланса; усиливает потенцию; защищает предстательной железу.</div>
                    </div>
                </div>
                <div class="sostav__media"><img src="../media/product.png" alt=""></div>
                <div class="sostav__box sostav__box_right">
                    <div class="sostav__item" data-aos="fade-left" data-aos-duration="800">
                        <div class="sostav__name">Сульфат Цинка</div>
                        <div class="sostav__description">стимулирует выработку половых гормонов, налаживает работу половых желез, улучшает качество семени, поддерживает необходимый уровень тестостерона.</div>
                    </div>
                    <div class="sostav__item" data-aos="fade-left" data-aos-duration="1000">
                        <div class="sostav__name">Ликопин</div>
                        <div class="sostav__description">мощный антиоксидант с целенаправленным действием на предстательную железу, нейтрализует свободные радикалы, защищает клетки предстательной железы от их повреждающего действия.</div>
                    </div>
                    <div class="sostav__item" data-aos="fade-left" data-aos-duration="1200">
                        <div class="sostav__name">Черника</div>
                        <div class="sostav__description">предупреждает развитие простатита и улучшает качество семенной жидкости, содержит большое количества витаминов.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>