<section class="section section_treatment">
    <div class="container">
        <div class="treatment">
            <div class="treatment__body">
                <div class="section__title treatment__title">Erogan — лечение без последствий</div>
                <div class="treatment__description">Erogan – препарат комплексного действия. Активные компоненты в составе Erogan купируют воспалительный процесс и укрепляют собственную иммунную систему для предотвращения рецидивов.</div>
                <div class="treatment__list">
                    <div class="treatment__item" data-aos="fade-right" data-aos-duration="800">Укрепляет местный иммунитет</div>
                    <div class="treatment__item" data-aos="fade-right" data-aos-duration="900">Предотвращает повторное развитие болезни</div>
                    <div class="treatment__item" data-aos="fade-right" data-aos-duration="1000">Улучшает эректильную функцию</div>
                    <div class="treatment__item" data-aos="fade-right" data-aos-duration="1100">Нормализует работу органов малого таза</div>
                </div>
            </div>
            <div class="treatment__media">
                <img src="../media/product.png" alt="">
            </div>
        </div>
    </div>
</section>