
.product__title {
    margin-bottom: 30px;
    text-align: center;

    & span {
        display: block;
    }

    & mark {
        color: #60c159;
    }
}

.product__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__item {
    flex: 0 0 280px;
    min-height: 530px;
    padding: 285px 30px 40px;
    background-size: cover;

    &:nth-child(1) {
        background-image: url("../media/product/item-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/product/item-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/product/item-3.jpg");
    }
}

.product__media {
    flex: 0 0 auto;
}

.product__item-title {
    margin-bottom: 20px;
    font-family: "Akrobat", sans-serif;
    font-size: 35px;
    line-height: 1;
    color: #fff;
}

.product__description {
    font-family: "Codec-Warm", sans-serif;
    color: #fff;

    &_black {
        color: #000;
    }
}

@media (max-width: 1310px) {
    .product__body {
        flex-wrap: wrap;
        margin-top: -30px;
    }

    .product__item,
    .product__media {
        flex: 0 0 calc(50% - 15px);
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .product__body {
        flex-direction: column;
    }

    .product__item {
        position: relative;
        z-index: 1;
        flex: 0 0 100%;
        min-height: 0;
        overflow: hidden;

        &::before {
            position: absolute;
            right: 0;
            bottom: -1px;
            left: 0;
            z-index: -1;
            height: 1px;
            content: '';
            box-shadow: 0 0 120px 140px #000;
        }

        &:nth-child(1) {
            background-image: url("../media/product/item-1-768.jpg");
        }

        &:nth-child(2) {
            background-image: url("../media/product/item-2-768.jpg");
        }

        &:nth-child(3) {
            background-image: url("../media/product/item-3-768.jpg");
        }
    }

    .product__description {
        color: #fff;
    }

    .product__title {
        & span {
            display: inline;
        }
    }

    .product__item-title {
        font-size: 30px;
    }

    .product__media {
        width: 80%;
    }
}

@media (max-width: 370px) {
    .product__item {
        &:nth-child(1) {
            background-image: url("../media/product/item-1.jpg");
        }

        &:nth-child(2) {
            background-image: url("../media/product/item-2.jpg");
        }

        &:nth-child(3) {
            background-image: url("../media/product/item-3.jpg");
        }
    }
}
